<div id="container" class="flex items-center justify-center my-20">
    <div id="card" class="bg-lightBlue py-8 w-[400px] rounded-xl shadow-md">
        <form [formGroup]="signupForm" class="flex gap-5 flex-col " >
            <div class="flex flex-col mx-12 border-2 py-2 px-3 rounded-md">
                <label for="" class="text-darkBlue2 font-bold text-lg">
                    UserName
                </label>
                <input
                formControlName="name" 
                type="text" 
                name="userName" 
                placeholder="Your preffered username.."
                class="py-2 px-3 rounded bg-[whitesmoke] outline-none focus:border-darkBlue focus:border-b-2" >
                <small 
                class="text-red-700 font-bold" 
                *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name')">
                    <i class="fa-solid fa-xmark"></i> Username is required
                </small>
            </div>
            <div class="flex flex-col mx-12 border-2 py-2 px-3 rounded-md">
                <label for="" class="text-darkBlue2 font-bold text-lg">
                    Email
                </label>
                <input
                formControlName="email" 
                type="email" 
                name="email" 
                placeholder="Your Email.."
                class="py-2 px-3 rounded bg-[whitesmoke] outline-none focus:border-darkBlue focus:border-b-2" >
                <small 
                class="text-red-700 font-bold" 
                *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">
                    <i class="fa-solid fa-xmark"></i> Email is required
                </small>
                <small
                class="text-red-700 font-bold" 
                *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('email','email')">
                    <i class="fa-solid fa-xmark"></i> Email is not valid
                </small>
            </div>
            <div class="flex relative flex-col mx-12 border-2 py-2 px-3 rounded-md">
                <label for="" class="text-darkBlue2 font-bold text-lg">
                    Password
                </label>
                <input 
                formControlName="password"
                [type]="type"
                name="password" 
                placeholder="Your password.."
                class="py-2 px-3 rounded bg-[whitesmoke] outline-none focus:border-darkBlue focus:border-b-2" >
                <i 
                (click)="hideShowPass()" 
                class="fa {{eyeIcon}}  absolute cursor-pointer right-0 bottom-0 mr-5 mb-5"></i>
                <small 
                class="text-red-700 font-bold" 
                *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                    <i class="fa-solid fa-xmark"></i> Password is required
                </small>
            </div>
            <button type="submit"  class="bg-[#e88] mx-12 border-2 w-[150px] hover:opacity-90 hover:border-[#e88] duration-150   py-2 px-6 rounded-lg font-semibold text-darkBlue">sign-up</button>
        </form>
        <div class="mx-12 text-darkBlue2">
            <p>Already have an account <a class="font-bold border-b-2 border-darkBlue2" routerLink="/login">Login</a></p>
        </div>
    </div>

</div>