<div  id="bigscreen"
class="flex md:mt-11 flex-col items-center justify-center md:translate-x-0  mx-[200px] lg:mx-1  lg:flex-row -translate-x-20 mt-[40px] sm:w-[100%] ">
    
    <div class="w-full flex flex-col justify-around gap-6 lg:pl-12 xl:pl-[15%] 2xl:pl-[20%]">
        <h1 class="text-3xl text-darkBlue2">Savannah Informatics Album Manager</h1>
        <h2 class="text-2xl text-darkBlue2">Note this is only an Assessment</h2>
        <p class="text-lg text-darkBlue">Login to browse to the various routes available in the application </p>
        <button routerLink="/login" class="bg-[#e88] border-2 hover:opacity-90 w-[150px] hover:border-[#e88] duration-150   py-1 px-6 rounded-lg font-semibold text-darkBlue">login</button>
        <p class="text-lg text-darkBlue">Already Logged in ?<button routerLink="/home" class="border-2 border-darkBlue bg-lightBlue hover:border-lightBlue duration-150 text-darkBlue rounded-lg md:ml-3  py-1 px-4">Jump to home page</button></p> 
    </div>

    <div class="lg:pr-12 xl:pr-[10%]">
        <img src="../../../../assets/magaericon.png" class="max-w-[600px] w-[400px]  lg:w-[500px]" alt="">
    </div>
    
</div>

<div id="smallscreen" class="flex mt-[20%]  items-center justify-center">
    <div class=" flex items-start gap-4 justify-center flex-col px-2">
        <h1 class="text-[23px] text-darkBlue2">Savannah Informatics Album Manager</h1>
        <h2 class="text-[19px] text-darkBlue2">Note this is only an Assessment</h2>
        <p class="text-[16px] text-darkBlue">Login to browse to the various routes available in the application </p>
        <button routerLink="/login" class="bg-[#e88] border-2 hover:opacity-90 w-[180px] hover:border-[#e88] duration-150   py-1 px-6 rounded-lg font-semibold text-darkBlue">login</button>
        <p class="text-[15px] text-darkBlue flex items-center gap-6">Already Logged in ?<button routerLink="/home" class="border-2 border-darkBlue bg-lightBlue hover:border-lightBlue duration-150 text-darkBlue rounded-lg md:ml-3  py-1 px-4">Jump to home page</button></p> 
    </div>
    <img  src="../../../../assets/magaericon.png" class="mx-[20%] mt-6" width="300" alt="image" >
</div>