

#smallscreen{
    display: none;
}
@media screen and (max-width: 650px){
    #bigscreen{
       display: none;
    }
    #smallscreen{
        display: block;
    }
}
@media screen and (max-width: 360px){
    #smallscreen{
        width: 80%;
        padding-left: 30px;
    }
}
@media screen and (max-width: 320px){
    #smallscreen{
        margin: 0 10px;
        padding: 0 10px;
    }
}