<div class="flex items-center justify-center mt-8">
    <div>
        <div>
            <pagination-controls
            class="text-darkBlue"
            previousLabel="Previous"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)">
            </pagination-controls>
        </div>
        <div>
            <ul class="">
                @for (album of albums | paginate : {
                    itemsPerPage:pageSize,
                    currentPage:page,
                    totalItems:count
                }; track album.id;let i = $index) {
                    <li 
                    [class.active]="i == currentIndex" 
                    class="">

                    </li>
                }
            </ul>
        </div>
    </div>
</div>